body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  perspective: 1000px;
}

.glass-card {
  width: 320px;
  padding: 30px;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(15px);
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  transform: rotateY(10deg);
  text-align: center;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
}

button {
  width: 95%;
  padding: 10px;
  background: #00c6ff;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  background: #0072ff;
}